.cart{
    display: flex;
    flex-direction: column;
    border:2px solid orange;
    padding: 2rem 3rem;
    // width: 15%;
    margin: 0 0 0 2rem;
}

.userWrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}